* {
    font-family: sans-serif;
    color:white;
}
body {
    margin: 0px;
    background-color: black;
    height: auto;
}

a {
    color:#FE64C6;
    text-decoration:none;
}

a:hover {
    color:#7ED956;
}

.logo
img {
    width:400px;
    height:auto;
    background:#7ED956;
}


.header {
    background-color:#7ED956;
    height:85px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header
ul {
    background:#7ED956;
    list-style-type:none;
    display:flex;
    align-items: center;
    gap:25px;
    margin-right:50px;
    font-family:sans-serif;
    font-weight:bold;
    color:white;
    font-size: 20px;

}


.intro {
    display:flex;
    background-color:black;
    color:white;
    margin-left:0px;
}

.section1 {
    width:500px;
    height:auto;
    display:block;
    margin-left:0px;
    font-family:sans-serif;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    
 
}

h1 {
    font-family:sans-serif;
    font-size:40px;
}

p {
    padding:10px;
}

.section2 {
    display: flexbox;
    background-image:url("images/goya.jpg");
    width:1500px;
    height:auto;
    align-items: baseline;
    justify-content: space-between;
    
}

.guests {
    /*width:700px;
    display: grid;
    --gap:20px;
    --num-cols:3;
    --row-width:300px;
    padding:12px;*/

    --gap: 16px;
    --num-cols: 4;
    --row-width: 200px;
  
    box-sizing: border-box;
    padding: var(--gap);
    grid-row: span 2;
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
    
.guests a img {
    width:200px;
    height: auto;
    padding:20px;
    border:white 2px solid;
}

.poem-wrap {
    margin:0px;
    padding:100px;
    background-color:black;
    border-top:#FE64C6 6px solid;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.poem {
    display: flex;
    background-color:black;
    width: auto;
    margin-left: 150px;

}



.poem > h1 {
    line-height: 70%;
    padding-right:50px;
}

.poem-poem-wrap{
    width: auto;
    align-items: center;
    text-align: center;
    margin: auto;
}


.footer {
    background-color:#315C2B;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0px;
    margin-top:auto;
}

.footer .text {
    display:flex;
    height:auto;
    width: 300px;
    margin:auto;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

h5 {
    text-align: center;
    font-weight: normal;
    font-size: 70%;
}

.dress-code {
    display:flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    height:500px;
    width: auto;
    gap: 20px;
}


.p {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    padding-bottom:150px;
}

.menu {
    display:flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    height:500px;
    width: auto;
    gap: 20px;
}
}
